.book-container{

    display: flex;
    background-color: ivory;
    background-position: right;
    background-image: url('../../images/bg.jpg');

}


.user-container{

    width: 70%;
    margin-left: 30px;
    margin-right: 20px;
    padding-right: 10px;
    border-right: 2px solid gray;
    box-shadow: 1px 1px 10px gray;
}

